/* 
    Rapid Core - created by Uverit
    Do not copy or distribute
*/

    /* Media breakpoints */
    /* Width: 1440, 1200, 1024, 900, 768, 540, 440, 320 */



    /* Variables */

:root{

        /* Colors */

    --color1a:#9b80ec;
    --color1b:#BD51FF;

    --color2a:rgb(104, 36, 190, 0.1);
    --color2b:rgb(198, 73, 229, 0.45);

    --color3a:rgb(36, 162, 190, 0.1);
    --color3b:rgb(73, 173, 229, 0.45);

        /* Background Colors */

    --colorBg1a:rgb(20, 1, 50);
    --colorBg1b:rgb(2, 0, 101);

    --colorBg2a:rgb(176, 139, 255, 0.08);
    --colorBg2b:rgb(200, 167, 255, 0.25);

    --colorBg2c:rgba(29, 17, 94, 0.5);
    --colorBg2d:rgba(54, 47, 115, 0.75);

    --colorBg2e:rgb(from var(--colorBg2c) r g b / 0.9);
    --colorBg2f:rgb(from var(--colorBg2d) r g b / 0.95);

        /* Border Colors */

    --colorBorder1a:rgb(255, 255, 255, 0.1);
    --colorBorder1b:rgb(255, 255, 255, 0.2);

        /* Text Colors */

    --txt1:#FAFAFA;
    --txt2:#222;

    --txt-faded:#EEE;
    --txt-faded2:#CFCFCF;
    --txt-faded3:#B1B1B1;

    --txt-head1:#0c0c4e;
    --txt-head2:#322357;

        /* Sizes */

    --size1:4px;
    --size2:8px;
    --size3:12px;
    --size4:16px;
    --size5:20px;
    --size6:24px;
    --size7:32px;
    --size8:48px;

    --scrollbar:var(--size2);

        /* Box Shadows */

    --box-shadow1:0 0 1px 2px;

        /* Transitions */

    --trans1:0.1s  ease-in-out;
    --trans2:0.15s ease-in-out;
    --trans3:0.25s ease-in-out;
    --trans4:0.35s ease-in-out;

}

@media screen and (width <= 540px){

    :root{
        --size6:var(--size5);
    }

}



    /* Fonts */

@font-face{
    src:url(../fonts/Quicksand-VariableFont_wght.ttf);
    font-family:mainFont;
    font-display:fallback;
}

@font-face{
    src:url(../fonts/Roboto-Regular.woff2);
    font-family:textFont;
    font-display:fallback;
}

.main-font{
    font-family:mainFont, Calibri, sans-serif;
}

p, a, label, button, th, td{
    font-size:18px;
    font-weight:400;
    line-height:1.2;
    text-decoration:none;
    color:var(--txt-faded);
    transition:var(--trans2);
}

p, a, label{
    margin-bottom:-2px;
}

label{
    font-size:16px;
    color:var(--txt-faded2);
}

@media screen and (width <= 440px){
    
    p, a, label, button{
        font-size:16px;
        line-height:1.2em;
    }

}

@media screen and (width <= 320px){
    
    p, a, label, button{
        font-size:15px;
        line-height:1.2em;
    }

}

h1, h2, h3, h4, h5, h6{
    position:relative;
    font-family:mainFont, Calibri, sans-serif;

    font-weight:800;
    text-transform:uppercase;
    line-height:1;
    letter-spacing:0.1em;

    &:before, 
    &:after{
        content:attr(data-text);
        transition:-webkit-text-stroke var(--trans2);
    }

    &:after{
        width:100%;
        position:absolute;
        left:0;

        color:var(--txt-head1);
        z-index:10;
    }

    .glass-tile &:after{
        color:var(--txt-head2);
    }

}

:is(h1, h2, h3):before{
    -webkit-text-stroke:3px white;
}

:is(h4, h5):before{
    -webkit-text-stroke:1.5px white;
}

h1{
    font-size:38px;
}
h2{
    font-size:34px;
}
h3{
    font-size:32px;
}
h4{
    font-size:20px;
}
h5{
    font-size:18px;
}
h6{
    font-size:16px;
}

@media screen and (width <= 440px){
    
    h1{
        font-size:32px;
    }
    h2{
        font-size:30px;
    }
    h3{
        font-size:28px;
    }
    h4{
        font-size:18px;
    }
    h5{
        font-size:16px;
    }
    h6{
        font-size:15px;
    }

}

@media screen and (width <= 320px){
    
    h1{
        font-size:28px;
    }
    h2{
        font-size:24px;
    }
    h3{
        font-size:20px;
    }
    h4{
        font-size:18px;
    }
    h5{
        font-size:16px;
    }
    h6{
        font-size:14px;
    }

}


    /* Scrollbar */

::-webkit-scrollbar{
    width:var(--scrollbar);
    height:var(--scrollbar);
}

::-webkit-scrollbar-track{
    background:var(--colorBg1b);
}

::-webkit-scrollbar-thumb{
    background:var(--color1a);
    border-radius:100px;
}

::-webkit-scrollbar-thumb:hover{
    background:var(--color1b);
}

::-webkit-resizer{
    background:var(--color1a);
}

::-webkit-scrollbar-corner{
    background:transparent;
}

.hide-scrollbar::-webkit-scrollbar{
    width:0;
    height:0;
}



    /* Firefox Adjustments */

@-moz-document url-prefix(){ 

    :root{
        --box-shadow2:0 0 2px 1px;
    }
    
    *{
        scrollbar-color:var(--color1a) transparent !important;
        scrollbar-width:thin !important;
    }

}



    /* Style Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:textFont, Roboto, Arial, sans-serif;
    -webkit-tap-highlight-color:transparent;
}

*:focus{
    outline:0 !important;
}

*:selection{
    background:var(--mainColor) !important;
}

html{
    position:relative;
    scrollbar-gutter:stable;
    overflow-x:hidden;
}

body{
    width:100%;
    max-width:100vw;
    position:relative;
}